name: Build Android v8a

on:
  workflow_dispatch: # 手动触发

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.x"
          cache: true

      # 从 Secrets 还原名为“子非鱼”的固定签名，确保 vivo 手机允许覆盖安装
      - name: Restore Keystore from Secrets
        env:
          MY_BASE64: ${{ secrets.子非鱼 }}
        run: |
          echo "$MY_BASE64" | base64 -d > simple_live_app/android/my-release-key.jks
          cd simple_live_app/android
          echo "storeFile=../my-release-key.jks" > key.properties
          echo "storePassword=123456" >> key.properties
          echo "keyPassword=123456" >> key.properties
          echo "keyAlias=mykey" >> key.properties

      - name: Build v8a APK
        run: |
          cd simple_live_app
          # 必须执行 clean，否则你修改的 huya_site.dart 可能不会被重新编译
          flutter clean
          # 升级播放器依赖，缓解 Android 15 GPU 报错
          flutter pub upgrade
          flutter pub get
          # 针对 vivo X100 优化，只打 arm64 架构
          flutter build apk --release --target-platform android-arm64 --no-tree-shake-icons

      - name: Upload v8a APK
        uses: actions/upload-artifact@v4
        with:
          name: SimpleLive-Android-v8a-Fixed
          path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
