name: Build Android v8a

on:
  push:
    branches:
      - main  # 如果您的分支名是 master，请改为 master
    paths:
      - 'simple_live_core/**'  # 当核心逻辑变动时触发
      - 'simple_live_app/**'   # 当 App 壳子或版本号变动时触发
  workflow_dispatch: # 依然保留手动触发按钮
  repository_dispatch:
    types: [trigger-v8a-build] # 保留给 daily_check 的备用信号

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.x"
          cache: true

      # 还原您的专属签名 ZI_FEI_YU
      - name: Restore Keystore from Secrets
        env:
          MY_BASE64: ${{ secrets.ZI_FEI_YU }}
        run: |
          echo "$MY_BASE64" | base64 -d > simple_live_app/android/my-release-key.jks
          cd simple_live_app/android
          echo "storeFile=../my-release-key.jks" > key.properties
          echo "storePassword=123456" >> key.properties
          echo "keyPassword=123456" >> key.properties
          echo "keyAlias=mykey" >> key.properties

      - name: Build v8a APK
        run: |
          cd simple_live_app
          flutter clean
          flutter pub upgrade
          flutter pub get
          # 针对 vivo 等 Android 15 设备优化
          flutter build apk --release --target-platform android-arm64 --no-tree-shake-icons

      - name: Upload v8a APK
        uses: actions/upload-artifact@v4
        with:
          name: SimpleLive-Android-v8a-Fixed
          path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
