name: Build Android v8a

on:
  push:
    branches: [ main ] # 或者是 master
    paths:
      - 'simple_live_core/**' # 核心修复逻辑变动
      - 'simple_live_app/**'  # 版本号变动
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.x"

      # 还原签名文件
      - name: Restore Keystore
        env:
          MY_BASE64: ${{ secrets.ZI_FEI_YU }}
        run: |
          echo "$MY_BASE64" | base64 -d > simple_live_app/android/my-release-key.jks
          cd simple_live_app/android
          echo "storeFile=../my-release-key.jks" > key.properties
          echo "storePassword=123456" >> key.properties
          echo "keyPassword=123456" >> key.properties
          echo "keyAlias=mykey" >> key.properties

      - name: Build APK
        run: |
          cd simple_live_app
          flutter clean
          flutter pub get
          # 针对 vivo/Android 15 优化
          flutter build apk --release --target-platform android-arm64 --no-tree-shake-icons

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SimpleLive-v8a-Build
          path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
