name: Android CI

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        # 注意：这里增加了 working-directory，指向 app 目录
        run: flutter pub get
        working-directory: app

      - name: Build APK
        # 注意：这里也指向了 app 目录
        run: flutter build apk --release
        working-directory: app
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: live-app-release
          # 路径也需要对应调整
          path: app/build/app/outputs/flutter-apk/app-release.apk
