name: Build Android v8a

on:
  push:
    branches:
      - main
    paths:
      - 'simple_live_core/**' # 核心逻辑变动触发
      - 'simple_live_app/**'  # 版本号变动触发
  workflow_dispatch: # 保留手动打包按钮

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.x"
          cache: true

      # 使用 ZI_FEI_YU 还原签名
      - name: Restore Keystore
        env:
          MY_BASE64: ${{ secrets.ZI_FEI_YU }}
        run: |
          echo "$MY_BASE64" | base64 -d > simple_live_app/android/my-release-key.jks
          cd simple_live_app/android
          echo "storeFile=../my-release-key.jks" > key.properties
          echo "storePassword=123456" >> key.properties
          echo "keyPassword=123456" >> key.properties
          echo "keyAlias=mykey" >> key.properties

      - name: Build APK
        run: |
          cd simple_live_app
          flutter clean
          flutter pub upgrade
          flutter pub get
          flutter build apk --release --target-platform android-arm64 --no-tree-shake-icons

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SimpleLive-v8a-Build-${{ github.run_number }}
          path: simple_live_app/build/app/outputs/flutter-apk/app-release.apk
